JWT_SECRET = "your key"
ADMIN_EMAIL = "your email"
ADMIN_PASSWORD = "your pass"

MONGODB_URI=your mongo string
CLOUDINARY_API_KEY = "your key"
CLOUDINARY_SECRET_KEY = "your key"
CLOUDINARY_NAME = "your name"


RAZORPAY_KEY_SECRET = 'your key'
RAZORPAY_KEY_ID = 'your id'